{% extends 'base.html' %}

{% load static %}

{% block title %}Таблица ресурсов{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block body %}
    <div>
        <a href="{% url 'currency:source_create' %}"><h4>Создать ресурс.</h4></a>
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>source_url</td>

            </tr>
            {% for rate in object_list %}
                <tr>
                    <td>{{ rate.id }}</td>
                    <td>{{ rate.name }}</td>
                    <td>{{ rate.source_url }}</td>
                    {% if request.user.is_superuser %}
                    <td><a href="{% url 'currency:source_edit' rate.id %}">Edit</a></td>
                    <td><a href="{% url 'currency:source_delete' rate.id %}" style="color: red;">Delete</a></td>
                    {% endif %}
                    <td><a href="{% url 'currency:source_detail' rate.id %}">Detail</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}