{% extends 'base.html' %}

{% load static %}

{% block title %}Таблица ресурсов{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block body %}
    <div>
        <a href="/source/create/"><h4>Создать ресурс.</h4></a>
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>source_url</td>

            </tr>
            {% for rate in source %}
                <tr>
                    <td>{{ rate.id }}</td>
                    <td>{{ rate.name }}</td>
                    <td>{{ rate.source_url }}</td>
                    <td><a href="/source/edit/{{ rate.id }}/">Edit</a></td>
                    <td><a href="/source/detail/{{ rate.id }}/">Detail</a></td>
                    <td><a href="/source/delete/{{ rate.id }}/" style="color: red;">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}